<!--Тут будет выводиться список добавок-->
{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container list-block">
    <div class="search-box">
        <form action="" method="get">
            <input id="searchbox" type="search" name="search" placeholder="Введите наименование пищевой добавки">
            <button type="submit"><img src="{% static 'img/search.png' %}" height="40px"></button>
        </form>
    </div>
    <div class="scroll">
        {% for fa in fa_catalog %}
        <a class="f-a-link" href="{% url 'catalog:fa_detail' fa.id %}">
            <div class="f-a-list">   
                <ul class="list-block"> 
                    <li>
                        <table>
                            <tbody>
                                <tr>
                                    <td>E {{ fa.e_title }}</td>
                                    <td>{{ fa.common_title }}</td>
                                    <td>{{ fa.category }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                </ul>       
            </div>
        </a> 
        {% endfor %}
    </div>
</div>
{% endblock content %}