{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="about-us-container">
      <div class="left-box">
        <h2 id="center-about-us-h2">
            О НАШЕМ ПРОЕКТЕ
        </h2>
        <div class="text-with-margin-about-us">
          <p>
              BioCheck — это проект, который поможет вам разобраться
              в многообразии пищевых добавок. 
              Концепция разработана на базе Цифровой 
              кафедры ПМГМУ с учётом профильной 
              документации и точки зрения врачей. 
          </p>
          <ul class="custom-small-ul">
            <li>
                На нашем веб-сайте вы получите полную и 
                достоверную информацию о всех красителях, 
                консервантах, антиоксидантах и эмульгаторах 
                на полках продуктовых магазинов. 
            </li>
            <li>
                В нашем телеграм-боте вы сможете просканировать 
                состав продукта камерой телефона и получить его 
                расшифровку. 
            </li>
          </ul>
        </div>
      </div>
      <div class="right-box">
        <h2>
            Мы предлагаем:
          <ul class="custom-big-ul">
            <li> Удобные цифровые сервисы </li>
            <li>Быструю и понятную расшифровку состава продукта </li>
            <li>Своевременное информирование о наличии вредных добавок</li>
          </ul>
        </h2>
      </div>
    </div>
  </div>
{% endblock %}