{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="about-us-container">
        <div class="left-box">
            <h2 id="center-about-us-h2">
                О НАШЕМ ПРОЕКТЕ
            </h2>
            <div class="text-with-margin-about-us">
                <p>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
                    Текст Текст Текст Текст Текст Текст Текст Текст Текст
                    Текст Текст Текст Текст Текст Текст Текст Текст Текст
                    Текст Текст Текст Текст Текст Текст Текст Текст Текст
                    Текст Текст Текст Текст Текст Текст Текст Текст</p>
                <ul class="custom-small-ul">
                    <li>
                        Текст Текст Текст Текст Текст Текст Текст Текст Текст
                        Текст Текст Текст Текст Текст Текст Текст Текст Текст
                    </li>
                    <li>
                        Текст Текст Текст Текст Текст Текст Текст Текст Текст
                        Текст Текст Текст Текст Текст Текст Текст Текст Текст
                    </li>
                </ul>
            </div>
        </div>
        <div class="right-box">
            <h2>
                Мы предлагаем:
                <ul class="custom-big-ul">
                    <li>
                        <div>Пункт и текст текст текст текст текст текст</div>
                    </li>
                    <li>Пункт и текст текст текст</li>
                    <li>Пункт и текст текст текст</li>
                    <li>Пункт и текст текст текст</li>
                </ul>
            </h2>
        </div>
    </div>
</div>

{% endblock %}