{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="container">
    <div>
      <div class="contacts-upper-box">
        <p class="contacts-main-text">ВЫ МОЖЕТЕ С НАМИ СВЯЗАТЬСЯ:</p>
        <br>
        <br>
        <p class="contacts-main-text">+7********** whatsApp/Telegram</p>
        <p class="contacts-main-text">biocheck@example.com</p>
      </div>
      <br>
      <br>
      <br>
      <div class="telegram-text">
        <div><img src="{% static 'img/tg.png' %}" height='60 px'></div>
        <div class="telegram-text-right-box">
          <p> Наш телеграм-бот: @testAdditivesBot
            <br> - Присоединяйтесь и получите информацию 
            о добавках в продукте одним нажатием!
          </p>
        </div>
      </div>
      <br>
      <br>
      <br>
      <p>Позаботьтесь о вашем здоровье вместе с BioCheck!</p>
    </div>
  </div>
{% endblock %}