body {
    background-color: rgb(210, 237, 210);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    /* font-style: normal; */
    /* font-variation-settings: "slnt" 0; */
    color: white;
}



.link {
    list-style: none;
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
}

.nav {
    height: 81px;
    font-size: 20px;
    background-color: #758D54;
    display: flex;
    justify-content: center;
    align-items: center;
}