{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BioCheck</title>
    <link rel="stylesheet" href="del.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto&display=swap" rel="stylesheet">
</head>

<body class="body">
    <!-- Включим навигацию -->
    <nav="nav">
    <ul>
        <li>
            <a href="{% url 'homepage:homepage' %}">
                Главная
            </a>
        </li>
        <li>
            <a href="{% url 'homepage:about' %}">
                О нас
            </a>
        </li>
        <li>
            <a href="{% url 'homepage:contacts' %}">
                Контакты
            </a>
        </li>
        <li>
            <a href="{% url 'catalog:fa_list' %}">
                <img src="{% static 'img/logo.png' %}" alt="Каталог" height="81 px">
            </a>
        </li>
        <li>
           <strong>Еда - это то, что мы едим.</strong>
        </li>
        <li>
            <a>
                <img src="{% static 'img/tg.png' %}" alt="Ссылка на тележку" height='61 px'>
            </a>
        </li>
    </ul>
</nav>

    
    {% block content %}
    {% endblock %}
</body>

</html>
