/* Общий блок */

body {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    color: white;
    background-image: url('../img/main.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: center;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
    background-color: #697357;
    border-radius: 24px;
}

/* header */

/* header */

.nav {
    display: flex;
    height: 67px;
    font-size: 20px;
    background-color: #758D54;
}

.menu {
    display: flex;
}

.menu-left {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 0px;
}

.menu-center {
    list-style: none;
    display: block;
    align-items: center;
    justify-content: center;
    margin-right: 400px;
    margin-left: 150px;
}

.menu-right {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: right;
}


.nav-box {
    width: 100px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    gap: 0px;
}

.nav-box:hover {
    background-color: #506038;
}

.nav-box.active {
    background-color: #506038;
}

.link {
    text-decoration: none;
    color: white;
    margin: 0 20px;
    list-style: none;
}

/* index */

.index-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

h1 {
    font-size: 50px;
    border: 1px;
    border-color: black;
    margin-left: 60px;
}

.index-text {
    font-size: 22px;
    line-height: 26px;
    align-items: center;
}

.index-box {
    width: 300px;
    height: 98px;
    margin-left: 40px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A6547;
    border-radius: 21px;
}

.index-box:hover {
    background-color: #284631;
}

/* about us */