/* Общий блок */

body {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    color: white;
    background-image: url('../img/main.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: 50px;
    border: 1px;
    border-color: black;
    margin-left: 60px;
}

h2 {
    font-size: 27px;

}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: baseline;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
    background-color: #697357;
    border-radius: 24px;
}

.list-block {
    display: list-item;
    list-style: none;
}

/* header */

.nav {
    display: flex;
    height: 67px;
    font-size: 20px;
    background-color: #758D54;
}

.menu {
    display: flex;
}

.menu-left {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: stretch;
    margin-left: 0px;
}

.menu-center {
    list-style: none;
    display: block;
    align-items: center;
    justify-content: center;
    margin-right: 400px;
    margin-left: 150px;
    flex-shrink: 0;
}

.menu-right {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.nav-box {
    width: 100px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-box:hover {
    background-color: #506038;
}

.nav-box.active {
    background-color: #506038;
}

.link {
    text-decoration: none;
    color: white;
    margin: 0 20px;
    list-style: none;
}

/* index */

.index-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}


.index-text {
    font-size: 22px;
    line-height: 26px;
    align-items: center;
}

.index-box {
    width: 300px;
    height: 98px;
    margin-left: 40px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A6547;
    border-radius: 21px;
}

.index-box:hover {
    background-color: #284631;
}

/* about us */

.about-us-container {
    display: flex;
    justify-content: space-between;
}

.left-box {
    width: 80%;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #747d63;
    align-items: center;
    justify-content: center;
}

.right-box {
    width: 80%;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.text-with-margin-about-us {
    margin: 20px;
}

#center-about-us-h2 {
    text-align: center;
}

.custom-small-ul {
    list-style-type: none;
    padding-left: 0;
}

.custom-small-ul li::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: #B4977C;
    border-radius: 50%;
    margin-right: 0.5em;
    ;
}

.custom-big-ul {
    list-style-type: none;
    padding-left: 0;
}

.custom-big-ul li::before {
    content: "";
    display: inline-block;
    width: 2em;
    height: 2em;
    background-color: #B4977C;
    border-radius: 50%;
    margin-right: 0.5em;
}

/* contacts */

.contacts-container {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    flex-direction: column;
}

.contacts-upper-box {
    margin-left: 50px;
    margin-right: 50px;
}

.contacts-main-text {
    font-size: 20px;
    border: 3px;
    border-color: black;
}

/* fa_list */

.search-box {
    width: 100%;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #D9D9D9;
    border-radius: 10px;
}

* {
    box-sizing: border-box;
}

form {
    position: relative;
    width: 300px;
    margin-left: 300px;
    height: 50px;
}

input {
    height: 50px;
    width: 580px;
    padding: 0 30px 0 150px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
}

input::-webkit-input-placeholder {
    color: black;
    font-family: "Inter", sans-serif;
    background-color: #D9D9D9;
}

input:-moz-placeholder {
    color: black;
    font-family: "Inter", sans-serif;
    background-color: #D9D9D9;
}

input:-ms-input-placeholder {
    color: black;
    font-family: "Inter", sans-serif;
    background-color: #D9D9D9;
}

button {
    position: absolute;
    border: none;
    cursor: pointer;
    background-color: #D9D9D9;
    height: 40px;
    width: 40px;
    top: 0;
    right: 0;
}


.scroll {
    height: 200px;
    overflow-y: scroll;
}