<header>
    <!-- Тут будет навигация -->
    <div>
    {% with request.resolver_match.view_name as view_name %}
    <!-- Тут - то, как будет осуществляться переключение по кнопкам-->
    <!-- Нужно добавить потом в <a> class="{% if view_name == 'homepage:homepage'%} active {% endif %}"-->
    <fieldset>
    <ul>
        <li>
            <a href="{% url 'homepage:homepage' %}">
                Главная
            </a>
        </li>
        <li>
            <a href="{% url 'homepage:about' %}">
                О нас
            </a>
        </li>
        <li>
            <a href="{% url 'homepage:contacts' %}">
                Контакты
            </a>
        </li>
        <li>
            <a href="{% url 'catalog:fa_list' %}">
                <img src="static/img/search", alt="Каталог">
            </a>
        </li>
        <li>
           <strong>Еда - это то, что мы едим.</strong>
        </li>
        <li>
            <a>
                <img src="static/img/telegram" alt="Ссылка на тележку">
            </a>
        </li>
    </ul>
</fieldset>
    {% endwith %}
    </div>
</header>